<div class="content__container">
  <p class="content__container__text" style="color: #666666">
    Nutrition of
  </p>
  <ul class="content__container__list">
    <li class="content__container__list__item" style="color: #ecf0f1">Rice</li>
    <li class="content__container__list__item" style="color: #F0E68C">Potato</li>
    <li class="content__container__list__item" style="color: #EEEEEE">Sugar</li>
    <li class="content__container__list__item" style="color: #8FBC8F">Beans</li>
    <li class="content__container__list__item" style="color: #D2B48C">Seed</li>
    <li class="content__container__list__item" style="color: #66CDAA">Vegetable</li>
    <li class="content__container__list__item" style="color: #FA8072">Fruit</li>
    <li class="content__container__list__item" style="color: #DAA520">Mushroom</li>
    <li class="content__container__list__item" style="color: #6B8E23">Seaweed</li>
    <li class="content__container__list__item" style="color: #4169E1">Fish</li>
    <li class="content__container__list__item" style="color: #CD5C5C">Meat</li>
    <li class="content__container__list__item" style="color: #FFD700">Egg</li>
    <li class="content__container__list__item" style="color: #DCDCDC">Milk</li>
    <li class="content__container__list__item" style="color: #F0E68C">Oil</li>
    <li class="content__container__list__item" style="color: #FFC0CB">Dessert</li>
    <li class="content__container__list__item" style="color: #AFEEEE">Drink</li>
    <li class="content__container__list__item" style="color: #FFAD90">Seasoning</li>
  </ul>
</div>