<div class="container">
	<div class="passing move">
	 <div class="passing-box">
	  <div class="passing-bar">
	   <div class="passing-txt">
	<div class="content" style=" padding-top: 100px; margin-left: 70px;">
		<span class="FENcolor">FEN</span>について
	</div>

	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="content2">
				<span class="FENcolor">FEN</span>とは
			</div>
			<div class="about1">
				<div class="split">
				このサイトは実際に売られている商品の栄養素を
				みんなで共有するサイトです。
				栄養価の高い食品を発見し、
				欲しい栄養を効率よく摂取することにつなげていただきたいと思います。
				</div>
			</div>
			<div class="content2" style="padding-top: 50px;">
				使い方
			</div>
			<div>
				Topページ、または検索ページで知りたい商品を検索してみましょう。
				検索した商品の栄養素が表示されます。<br>
				両隣にはカテゴリやハッシュタグがあります。こちらからも探すことができます。
			</div>
			<div class="content2" style="padding-top: 50px;">
				登録
			</div>
			<div>
				毎日新しい商品が出てきますので、検索しても見つからない場合もあると思います。その際は、商品を登録してみましょう。
				商品の名前や写真、栄養素を入力し、共有することができます。
			</div>
			<div style="padding-top: 50px; padding-bottom: 100px;">
				<%= link_to "<<戻る", root_path %>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</div>
</div>

