<div class="container">
	<div class="content">
		商品一覧
	</div>
	<div class="row">
		<div class="col-xs-2">
			<%= render 'end_users/templetes/genre', genres: @genres %>
		</div>
		<div class="col-xs-10">
			<div class="content2">商品数： <%= @item.count %>件</strong></div>
			<div style="padding-top: 20px;">
			<%= render 'end_users/templetes/itemfind', items: @items %>
			</div>
		</div>
	</div>
</div>





