<div class="container">
	<div class="content">
		新規投稿
	</div>
	<%= flash[:notice] %>

	<%= form_for @item, url: {action: 'create'} do |f| %>
		<!-- ローカル変数でfも渡す -->
		<%= render 'end_users/templetes/form', f: f, item: @item  %>
	<% end %>
</div>
