<div class="container">
  <div class="row">
  	<div class="col-xs-8 col-xs-offset-2">
		<div class="page-header content2">
	  		お問い合わせ
		</div>
		<p class="text-center">
		  お問い合わせいただきありがとうございました。
		</p>
	  </div>
	</div>
</div>