/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";



.content {
  overflow:hidden;
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  line-height: 40px;
  font-weight: 600;
  margin-bottom: 30px;

  &__container {
    overflow: hidden;
    height: 40px;

    &__text {
      display: inline;
      float: left;
      margin: 0;
    }

    &__list {
      margin-top: 0;
      padding-left: 230px;
      text-align: left;
      list-style: none;

      -webkit-animation-name: change;
      -webkit-animation-duration: 50s;
      -webkit-animation-iteration-count: infinite;
      animation-name: change;
      animation-duration: 50s;
      animation-iteration-count: infinite;

      &__item {
        line-height:40px;
        margin:0;
      }
    }
  }
}

@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}
@-webkit-keyframes change {
  0%, 4.88%, 100% {transform:translate3d(0,0,0);}
  5.88%, 10.76% {transform:translate3d(0,-5.88%,0);}
  11.76%,16.64% {transform:translate3d(0,-11.76%,0);}
  17.64%,22.52% {transform:translate3d(0,-17.64%,0);}
  23.52%,28.40% {transform:translate3d(0,-23.52%,0);}
  29.40%,34.28% {transform:translate3d(0,-29.40%,0);}
  35.28%,40.16% {transform:translate3d(0,-35.28%,0);}
  41.16%,46.04% {transform:translate3d(0,-41.16%,0);}
  47.04%,51.92% {transform:translate3d(0,-47.04%,0);}
  52.92%,57.80% {transform:translate3d(0,-52.92%,0);}
  58.80%,63.68% {transform:translate3d(0,-58.80%,0);}
  64.68%,69.68% {transform:translate3d(0,-64.68%,0);}
  70.56%,75.44% {transform:translate3d(0,-70.56%,0);}
  76.44%,81.32% {transform:translate3d(0,-76.44%,0);}
  82.32%,87.20% {transform:translate3d(0,-82.32%,0);}
  88.20%,93.08% {transform:translate3d(0,-88.20%,0);}
  94.08%,98.06% {transform:translate3d(0,-94.08%,0);}
}
@-o-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}
@-o-keyframes change {
  0%, 4.88%, 100% {transform:translate3d(0,0,0);}
  5.88%, 10.76% {transform:translate3d(0,-5.88%,0);}
  11.76%,16.64% {transform:translate3d(0,-11.76%,0);}
  17.64%,22.52% {transform:translate3d(0,-17.64%,0);}
  23.52%,28.40% {transform:translate3d(0,-23.52%,0);}
  29.40%,34.28% {transform:translate3d(0,-29.40%,0);}
  35.28%,40.16% {transform:translate3d(0,-35.28%,0);}
  41.16%,46.04% {transform:translate3d(0,-41.16%,0);}
  47.04%,51.92% {transform:translate3d(0,-47.04%,0);}
  52.92%,57.80% {transform:translate3d(0,-52.92%,0);}
  58.80%,63.68% {transform:translate3d(0,-58.80%,0);}
  64.68%,69.68% {transform:translate3d(0,-64.68%,0);}
  70.56%,75.44% {transform:translate3d(0,-70.56%,0);}
  76.44%,81.32% {transform:translate3d(0,-76.44%,0);}
  82.32%,87.20% {transform:translate3d(0,-82.32%,0);}
  88.20%,93.08% {transform:translate3d(0,-88.20%,0);}
  94.08%,98.06% {transform:translate3d(0,-94.08%,0);}
}
@-moz-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}
@-moz-keyframes change {
  0%, 4.88%, 100% {transform:translate3d(0,0,0);}
  5.88%, 10.76% {transform:translate3d(0,-5.88%,0);}
  11.76%,16.64% {transform:translate3d(0,-11.76%,0);}
  17.64%,22.52% {transform:translate3d(0,-17.64%,0);}
  23.52%,28.40% {transform:translate3d(0,-23.52%,0);}
  29.40%,34.28% {transform:translate3d(0,-29.40%,0);}
  35.28%,40.16% {transform:translate3d(0,-35.28%,0);}
  41.16%,46.04% {transform:translate3d(0,-41.16%,0);}
  47.04%,51.92% {transform:translate3d(0,-47.04%,0);}
  52.92%,57.80% {transform:translate3d(0,-52.92%,0);}
  58.80%,63.68% {transform:translate3d(0,-58.80%,0);}
  64.68%,69.68% {transform:translate3d(0,-64.68%,0);}
  70.56%,75.44% {transform:translate3d(0,-70.56%,0);}
  76.44%,81.32% {transform:translate3d(0,-76.44%,0);}
  82.32%,87.20% {transform:translate3d(0,-82.32%,0);}
  88.20%,93.08% {transform:translate3d(0,-88.20%,0);}
  94.08%,98.06% {transform:translate3d(0,-94.08%,0);}
}
@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}
@keyframes change {
  0%, 4.88%, 100% {transform:translate3d(0,0,0);}
  5.88%, 10.76% {transform:translate3d(0,-5.88%,0);}
  11.76%,16.64% {transform:translate3d(0,-11.76%,0);}
  17.64%,22.52% {transform:translate3d(0,-17.74%,0);}
  23.52%,28.40% {transform:translate3d(0,-23.52%,0);}
  29.40%,34.28% {transform:translate3d(0,-29.50%,0);}
  35.28%,40.16% {transform:translate3d(0,-35.48%,0);}
  41.16%,46.04% {transform:translate3d(0,-41.16%,0);}
  47.04%,51.92% {transform:translate3d(0,-47.04%,0);}
  52.92%,57.80% {transform:translate3d(0,-52.92%,0);}
  58.80%,63.68% {transform:translate3d(0,-58.80%,0);}
  64.68%,69.68% {transform:translate3d(0,-64.68%,0);}
  70.56%,75.44% {transform:translate3d(0,-70.66%,0);}
  76.44%,81.32% {transform:translate3d(0,-76.64%,0);}
  82.32%,87.20% {transform:translate3d(0,-82.32%,0);}
  88.20%,93.08% {transform:translate3d(0,-88.20%,0);}
  94.08%,98.96% {transform:translate3d(0,-94.08%,0);}
}



.content2{
    font-size: 25px;
    font-weight: bold;
}


.like-btn {
 width: 20px;
 height: 20px;
 font-size: 20px;
 color: #808080;
 }
.unlike-btn {
 width: 20px;
 height: 20px;
 font-size: 20px;
 color: #e54747;
 }


.more {
    text-align: center;
    margin-top: 20px;
}
.item-list button {
    background: #bbdeff;         /* 背景の色 */
    border: none;         /* ボタン周りの枠線 */
    cursor: pointer;         /*  */
    outline: none;         /* クリック後の周りの線 */
    padding: 0px;         /* 文字の周りの余白 */
    height: 32px;         /* 縦 */
    width: 120px;         /* 横幅 */
    border-radius: 16px;         /* 角の丸み */
    /* box-shadow: 3px 3px 1px #aaaaaa;   影の設定 */
}
.item-list button:hover {
    background: #bbdeff;         /* 背景の色 */
    opacity: 0.8;         /* カーソル時透明度 */
}


.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
}


.scroll-table>table{
    width: 100%;
    table-layout: fixed;
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.scroll-table>table>tbody:nth-child(odd) {
    background-color:  #FFF0F5;    /* 背景色指定 */
}
.scroll-table>table>tbody:nth-child(even) {
    background-color:  #FFFFFF;
}
.scroll-table>table>thead>tr>th{
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}
.scroll-table>table>tbody>tr>td{
    padding: 5px 10px 5px 10px;
    border-bottom: solid 1px;
    line-height: 50px;
    text-align: center;
}
.scroll-table>table>thead>tr>th:first-child{
    /* 横スクロール時に固定する */
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 2;
}
.scroll-table>table>tbody>tr>td:first-child{
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  background: darken(#F0F8FF, 2%);
}


.index-table>table>tbody{
    border-top: inset 1px;
    border-bottom: inset 1px;
}
.index-table>table>tbody>tr>th{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
}


.show-confirm1{
    display: inline-block;
    border: solid 1px #FF9872;
    font-size: 11px;
    background-color: #FFDBC9;
}
.show-confirm2{
    display: inline-block;
    border: solid 1px #87CEFA;
    font-size: 11px;
    background-color: #CBFFD3;
}
.show-image{
    display: inline-block;
    margin-top: 20px;
    border: double;
}
.show-ex>tbody>tr>th{
    padding: 10px 10px;
    margin-bottom: 5px;
    text-align: right;
}
.show-ex>tbody>tr>td{
    padding: 10px 10px;
}
.show-table>thead>tr>td, .show-table>tbody>tr>td:nth-child(1){
    background-color: #F3FFD8;
}
.show-table>thead>tr>td{
    background-color: #F0F8FF;
}
.show-table>thead>tr>td, .show-table>tbody>tr>td{
    border: solid 1px;
    border-collapse: collapse; /* セルの線を重ねる */
    padding: 5px;
}


.item-list>table, .show-ex{
    table-layout: fixed;
    width: 100%;
}
.item-list>table>thead>tr>th{
    padding-left: 10px;
    margin-bottom: 5px;
}
.item-list>table>tbody>tr>td{
    padding: 10px 10px;
    overflow-wrap : break-word;
}


.input-table1>tbody>tr>th, .input-table1>tbody>tr>td{
    padding-top: 10px;
}
.input-table2>tbody>tr>td:nth-child(1){
    width: 40%;
    font-size: 11px;
    padding-top: 10px;
    padding-right: 10px;
}


/* mypageページ */
.mypage-table2{
    display: inline-flex;
}
.mypage-table2>tbody>tr>td{
    width: 200px;
}


/* understandページ */
.main-heading {
  color: #777;
  text-transform: uppercase;
}
.main-heading-primary {
  display: block;
  font-size: 5.5rem;
  font-weight: 400;
  letter-spacing: 35px;     /* 文字間 */
  animation: moveInLeft 0.8s ease-out;
}
.main-heading-secondary {
  font-family: sans-serif;
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 25px;
  color: hotpink;
  animation: moveInRight 1.0s ease-out;
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}







.haikei {
width: 100%;
height: 400px;
background-image: image-url("yasai.jpg");
background-repeat: no-repeat;
background-size:cover;
position: relative;
}
.image1 {
  background: rgba(255,255,255,0.8);
  height: 100%;
  font-size: 20px;
  font-weight: bold;
}





.css-fade1{
    font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
    padding-top: 10px;
    padding-left: 10px;
    animation-name: fade-in1;
    animation-duration: 0.5s; //アニメーション時間
    animation-timing-function: ease-out; //アニメーションさせるイージング
    animation-delay: 0s; //アニメーション開始させる時間
    animation-iteration-count: 1; //繰り返し回数
    animation-direction: normal; //往復処理をするかどうか
    animation-fill-mode: forwards; //アニメーション後のスタイルをどうするか
  }
  // アニメーション
  @keyframes fade-in1 {
    0% {
      opacity: 0;
      transform: translate3d(-40px, 0, 0); //x軸のスタート位置
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
.css-fade2{
    font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
    padding-top: 20px;
    padding-right: 10px;
    animation-name: fade-in2;
    animation-duration: 0.8s; //アニメーション時間
    animation-timing-function: ease-out; //アニメーションさせるイージング
    animation-delay: 0s; //アニメーション開始させる時間
    animation-iteration-count: 1; //繰り返し回数
    animation-direction: normal; //往復処理をするかどうか
    animation-fill-mode: forwards; //アニメーション後のスタイルをどうするか
  }
  // アニメーション
  @keyframes fade-in2 {
    0% {
      opacity: 0;
      transform: translate3d(60px, 0, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
.css-fade3{
    font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
    text-align: center;
    padding-top: 70px;
    animation-name: fade-in3;
    animation-duration: 0.6s; //アニメーション時間
    animation-timing-function: ease-out; //アニメーションさせるイージング
    animation-delay: 0s; //アニメーション開始させる時間
    animation-iteration-count: 1; //繰り返し回数
    animation-direction: normal; //往復処理をするかどうか
    animation-fill-mode: forwards; //アニメーション後のスタイルをどうするか
  }
  // アニメーション
  @keyframes fade-in3 {
    0% {
      opacity: 0;
      transform: translate3d(0, 80px, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
 .css-fade4{
    font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
    font-size: 35px;
    color: #DC143C;
    padding-top: 20px;
    padding-left: 30px;
    animation-name: fade-in4;
    animation-duration: 1.2s; //アニメーション時間
    animation-timing-function: ease-out; //アニメーションさせるイージング
    animation-delay: 0s; //アニメーション開始させる時間
    animation-iteration-count: 1; //繰り返し回数
    animation-direction: normal; //往復処理をするかどうか
    animation-fill-mode: forwards; //アニメーション後のスタイルをどうするか
  }
  .css-fade5{
    font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
    padding-left: 65px;
    animation-name: fade-in2;
    animation-duration: 1.4s; //アニメーション時間
    animation-timing-function: ease-in-out; //アニメーションさせるイージング
    animation-delay: 0.0s; //アニメーション開始させる時間
    animation-iteration-count: 1; //繰り返し回数
    animation-direction: normal; //往復処理をするかどうか
    animation-fill-mode: forwards; //アニメーション後のスタイルをどうするか
  }
  // アニメーション
  @keyframes fade-in4 {
    0% {
      opacity: 0;
      transform: translate3d(-70px, 0, 0); //x軸のスタート位置
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }








    /* aboutページ */
.FENcolor{
  color: #007815;
}
@-webkit-keyframes passing-bar{
    0% {
        left: 0;
        right: auto;
        width: 0;
    }
    50% {
        left: 0;
        right: auto;
        width: 100%;
    }
    51% {
        left: auto;
        right: 0;
        width: 100%;
    }
    100% {
        left: auto;
        right: 0;
        width: 0;
    }
}
@keyframes passing-bar{
    0% {
        left: -15%; /*　スタート地点　*/
        width: 0;
    }
    50% {
        left: 0;
        width: 100%;
    }
    51% {
        left: 0;
        width: 100%;
    }
    100% {
        left: 110%; /*　終わりの地点　*/
        width: 0;
    }
}
@-webkit-keyframes passing-txt{
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes passing-txt{
    0% { opacity:0; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/* css */
.passing .passing-box {
    display: block;
}
.passing .passing-bar {
    position: relative;
    display: inline-block;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.passing .passing-bar:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    /* 任意の値 */
    background: #B0E0E6;
}
.passing .passing-txt {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    /* 任意の値 */
    font-weight: bold;
    line-height: 1.5;
    background-image: image-url("macros.jpg");
    background-size: cover;

}
.passing.move .passing-bar:before {
    -webkit-animation: passing-bar 1s ease 0s 1 normal forwards;
    animation: passing-bar 1s ease 0s 1 normal forwards;
}
.passing.move .passing-txt {
    -webkit-animation: passing-txt 0s ease .5s 1 normal forwards;
    animation:passing-txt 0s ease .5s 1 normal forwards;
}










body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  margin-top: auto;
}
