/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


.item-list {
    width: 200px;
    margin: auto;
    padding: 0;
}
.item-list li {
    list-style: none;
    background-color: #bbbbbb;
    margin-top: 10px;
    text-align: center;
    border-radius: 4px;
    height: 32px;
    line-height: 32px;
    font-size: 13px;
}
.item-list li.is-hidden {
    opacity: 0;
    height: 0;
    margin: 0;
}


.more {
    text-align: center;
    margin-top: 20px;
}
.item-list button {
    background: #bbdeff;         /* 背景の色 */
    border: none;         /* ボタン周りの枠線 */
    cursor: pointer;         /*  */
    outline: none;         /* クリック後の周りの線 */
    padding: 0px;         /* 文字の周りの余白 */
    height: 32px;         /* 縦 */
    width: 120px;         /* 横幅 */
    border-radius: 16px;         /* 角の丸み */
    /* box-shadow: 3px 3px 1px #aaaaaa;   影の設定 */
}
.item-list button:hover {
    background: #bbdeff;         /* 背景の色 */
    opacity: 0.8;         /* カーソル時透明度 */
}


.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
}


.scroll-table>table{
    max-width: 100%;
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.scroll-table>table>tbody:nth-child(odd) {
    background-color:  #F0F8FF;    /* 背景色指定 */
}
.scroll-table>table>thead>tr>th{
    padding-right: 20px;
    padding-left: 5px;
}
.scroll-table>table>tbody>tr>td{
    padding: 5px 20px 5px 5px;
    border-bottom: solid 1px;
    line-height: 50px;
    text-align: center;
}


.index-table>table>tbody{
    border-top: inset 1px;
    border-bottom: inset 1px;
}
.index-table>table>tbody>tr>th{
    padding-top: 10px;
    padding-bottom: 10px;
}


