<div class="container">
	<div class="content">#<%= @tag %>　の商品一覧</div>		<!-- @tagでtagで登録されている名前を表示できる -->
	<div class="row">
		<div class="col-xs-2">
			<%= render 'end_users/templetes/tag_list', tags: @tags %>
		</div>
		<div class="col-xs-10">
			<div class="content2">
				商品総数：　<%= @items.count %>件
			</div>
			<%= render 'end_users/templetes/itemfind', items: @items %>
		</div>
	</div>
</div>